<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Menu</title>
    <script type="text/javascript" src="/js/demo1.js"></script>
    <script>
        var subwindows = [];
        function openMenu(menuItem) {
            var session = uuid();
            var url = menuItem.href + "?subsessionid=" + session;
            var subwindow = window.open(url);
            subwindows.push(subwindow);
            event.preventDefault();
            event.stopPropagation();
        }

        window.addEventListener('beforeunload', (event) => {
            event.preventDefault();
            event.returnValue = ' ';
        }, false);

        window.addEventListener('unload', (event) => {
            for(var i =0; i < subwindows.length; i++) {
                var subwindow = subwindows[i];
                if (subwindow != null) {
                    subwindow.close();
                }
            }
        });

    </script>
</head>
<body>
Menu
<p></p><a th:href="@{/demo1/start}" onclick="openMenu(this)">機能1</a></p>
<p><a th:href="@{/demo1/start}" onclick="openMenu(this)">機能2</a></p>
<p><a th:href="@{/demo1/start}" onclick="openMenu(this)">機能3</a></p>

</body>
</html>